Repository profanity-im/profanity, pull requests merged in 2020-01, with the labels that each got.

#1248 OMEMO message keys allow prekey="1" alongside prekey="true"
  src/xmpp/omemo.c
Labels: OMEMO, improvement

#1251 Refactor /roster show/hide
  src/command/cmd_funcs.c
Labels: improvement

#1242 Use OMEMO for offline MUC members
  src/command/cmd_funcs.c
  src/event/server_events.c
  src/omemo/omemo.c
  src/xmpp/bookmark.c
  src/xmpp/iq.c
  src/xmpp/muc.c
  src/xmpp/muc.h
  src/xmpp/xmpp.h
  tests/unittests/xmpp/stub_xmpp.c
Labels: OMEMO, improvement, muc

#1252 Fix crash with malformed OMEMO keys
  src/xmpp/omemo.c
Labels: improvement

#1259 Add gruvbox theme
  themes/gruvbox
Labels: theme

#1260 Fix OMEMO fingerprint autocompletion
  src/command/cmd_ac.c
  src/config/accounts.c
  src/config/accounts.h
  src/config/preferences.c
  src/config/preferences.h
  src/config/tlscerts.c
  src/config/tlscerts.h
  src/omemo/omemo.c
  src/omemo/omemo.h
  src/pgp/gpg.c
  src/pgp/gpg.h
  src/tools/autocomplete.c
  src/tools/autocomplete.h
  src/ui/window_list.c
  src/ui/window_list.h
  src/xmpp/blocking.c
  src/xmpp/bookmark.c
  src/xmpp/muc.c
  src/xmpp/muc.h
  src/xmpp/presence.c
  src/xmpp/roster_list.c
  src/xmpp/roster_list.h
  src/xmpp/xmpp.h
  tests/unittests/config/stub_accounts.c
  tests/unittests/pgp/stub_gpg.c
  tests/unittests/test_roster_list.c
  tests/unittests/xmpp/stub_xmpp.c
Labels: OMEMO, improvement
